.content-a-propos{
  border-right: 1px solid #8e86b5;
  border-bottom: 1px solid #8e86b5;
  padding: 50px;
  width: 50%;
  margin: auto;
  margin-bottom: 80px; 
}
.content-a-propos + div {
    text-align: center;
  }
.content-a-propos h2 {
    margin-top: 30px;
  }
  .content-a-propos ul {
    margin-top: 30px;
  }
.main-a-propos{
    margin: auto;
}
/* tableau */
section.Tarifs h2{
    text-align: center;
    margin-bottom: 60px;
}
table {
    color: white;
    text-align: center;
    width: 100%;
    border-collapse: collapse;
  }
   th {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 120px;
    padding-right: 120px;
    border: 1px solid #a5b4fc;
  }
  td{
    border: 1px solid #a5b4fc;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  section.Tarifs .table{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
    /* responsive */
@media screen and (max-width:996px) {
  section.Tarifs{
    display: none;
  }
}
