.portfolio-section-photos {
    background-color: white;
  }
  
  .portfolio-section-photos h2 {
    color: #242424;
    margin-bottom: 50px;
  }
.grid-paysage{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 300px 300px;
    grid-gap: 25px;
    margin-bottom: 50px;
}
.grid-portrait{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 300px ;
    grid-gap: 25px;
}
.grid-paysage img ,
.grid-portrait img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.lien-conteneur-photo{
    position: relative;
}
.photo-hover{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
}
.lien-conteneur-photo:hover .photo-hover {
    display: flex;
  }
  @media screen and (max-width:996px) {
    .grid-paysage {
        grid-template-columns: 1fr;
        gap: 15px;
      }
    
      .grid-portrait {
        grid-template-columns: 1fr;
        gap: 15px;
      }
}