/* style appliqué sur toute les autres pages */
*{
    margin: 0;
}
body {
    font-family: 'Manrope', sans-serif;
    font-size: 1em;
    background-color: #1F2039;
  }
  
a{
    color: #242424;
    text-decoration: none;
}
em{
    color: #A5B4FC;
    font-style: normal;
}
h1{
    font-size: 3.5em;
    color: #A5B4FC;
    font-family: "Montserrat", sans-serif;
}
p{
    font-size: 1.1em;
    color:#F9F8FF;
    margin-bottom: 5px;
    margin-top: 20px;
}
header, footer{
    background-color: white;
    padding: 20px , 50px , 20px , 50px;
}
 li, h2{
    color:#F9F8FF;
}
.cta{
    display: inline-block;
    background: linear-gradient(#8E86B5,#ACAEED);
    color: white;
    border-radius: 50px;
    padding: 15px;
    margin-top: 35px; 
    text-align: center;
    
}
a:hover{
    text-decoration: underline;
}
a[class="cta"]:hover{
    background: linear-gradient(#696484,#8788BA);
    text-decoration: none;
}
.icon{
    margin-right: 20px;
}
 .icon:hover{
    opacity: 0.5;
}
section{
    padding: 80px;
}
footer,
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
nav a {
    margin-right: 30px;
    padding-left: 10px;
  }
footer a{
    margin-left: 20px;
  }
  /* responsive */
@media screen and (max-width:1200px) {
   h1{
    font-size: 2em;
   }
}
@media screen and (max-width: 996px) {
    header nav {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    header nav div{
        display: contents;
    }
    header nav div a{
        margin-top: 15px;
    }
    section{
        padding: 80px;
    }
}